# 注释：
# 用于排除不被纳入版本控制的文件
# 文件的匹配基于字符串，而不是正则表达式
# ‘/’开头：从项目根目录开始匹配
# 以‘/’结尾表示匹配文件夹，而不是同名文件
# 通过!取消忽略
# 不同层级的.gitignore: 对于根目录下的子文件夹，其中的.gitignore的规则只对该子文件夹下的文件有效
/__pycache__/
*.pyc
# /test：忽略根目录下的test文件夹所有内容
# 单单一个test：所有含test的文件，文件夹
# test.py: 忽略具体文件